@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            @if (User.IsInRole("Admin"))
            {
                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin Paneli</a>
            }
            else
            {
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
            }
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Giris" asp-action="Cikis">
                <button type="submit" class="nav-link btn btn-link text-dark">Çıkış</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Giris" asp-action="Giris">Giriş Yap</a>
        </li>
    }
</ul>

