@using Microsoft.AspNetCore.Identity
@inject SignInManager<Kullanicilar> LoginManager
@inject UserManager<Kullanicilar> UserManager

<ul class="navbar-nav ms-auto">
    @if (LoginManager.IsSignedIn(User))
    {
        <li class="nav-item d-flex align-items-center">
            <form asp-area="" asp-controller="Hesap" asp-action="Logout" method="post" class="d-inline m-0 p-0">
                <button type="submit" class="nav-link btn btn-link text-dark p-0">
                    <i class="bi bi-box-arrow-right"></i> Çıkış
                </button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Hesap" asp-action="Login">
                <i class="bi bi-box-arrow-in-right"></i> Giriş Yap
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Hesap" asp-action="Register">
                <i class="bi bi-person-plus"></i> Üye Ol
            </a>
        </li>
    }
</ul>
