@using Proje.ViewModels;
@model ResetPasswordViewModel;

@{
    Layout = "~/Views/Shared/_HesapLayout.cshtml";
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg" style="width: 400px; padding: 30px; border-radius: 10px;">
        <h2 class="text-center mb-4">Şifre Sıfırla</h2>
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-4"></div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label">E-posta</label>
                <input asp-for="Email" class="form-control" id="email" placeholder="E-posta adresinizi girin" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label">Yeni Şifre</label>
                <input asp-for="Password" class="form-control" id="password" type="password" placeholder="Yeni şifrenizi girin" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Yeni Şifre Tekrar</label>
                <input asp-for="ConfirmPassword" class="form-control" id="confirmPassword" type="password" placeholder="Yeni şifrenizi tekrar girin" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100 p-2">Şifreyi Sıfırla</button>

            <div class="text-center mt-3">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none">Geri Dön</a>
            </div>
        </form>
    </div>
</div>
