@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Admin Paneli</h2>

<ul>
    <li><a asp-action="RandevuListele" asp-controller="AdminLayout">Randevuları Yönet</a></li>
    <li><a asp-action="Calisanlar" asp-controller="AdminLayout">Çalışanları Yönet</a></li>
    <li><a asp-action="CalisanEkle" asp-controller="AdminLayout">Çalışan Ekle</a></li>
</ul>
