@model Proje.Models.Calisanlar

@{
    ViewData["Title"] = "Çalışan Ekle";
}

<h2>Çalışan Ekle</h2>

<div>
    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger">@TempData["error"]</div>
    }
    @if (TempData["msj"] != null)
    {
        <div class="alert alert-success">@TempData["msj"]</div>
    }
</div>

<form asp-action="CalisanEkle" method="post">
    <div class="form-group">
        <label for="CalisanAd">Ad</label>
        <input asp-for="calisan_ad" class="form-control" />
        <span asp-validation-for="calisan_ad" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="CalisanSoyad">Soyad</label>
        <input asp-for="calisan_soyad" class="form-control" />
        <span asp-validation-for="calisan_soyad" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Telefon">Telefon</label>
        <input asp-for="telefon" class="form-control" />
        <span asp-validation-for="telefon" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input asp-for="email" class="form-control" type="email" />
        <span asp-validation-for="email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="UzmanlikAlani">Uzmanlık Alanı</label>
        <select asp-for="UzmanlikAlanlari" class="form-control" asp-items="ViewBag.UzmanlikAlanlari" multiple="multiple">
            <option value="">Bir uzmanlık alanı seçin</option>
        </select>
        <span asp-validation-for="UzmanlikAlanlari" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="KatilimTarihi">Katılım Tarihi</label>
        <input asp-for="katilim_tarih" class="form-control" type="date" />
        <span asp-validation-for="katilim_tarih" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
